body {
    background-color: #000000;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

header .logo {
    max-height: 100%;
    max-width: 100%;
}

a {
    color: #FF0000;
    text-decoration: none;
}

a:hover {
    color: #de2d2d;
}